body{
    width : 80%;
    margin: 0 10%;
    background-color: white;
    
}

.top{
    width: 100%;
    background-image: url("img.png");
    height: 50%;
    background-size: cover;
    text-align: center;
    display: grid;
    align-content: center;
}

.top .inner{
    width: 60%;
    background-color: aliceblue;
    margin: 0 20%;
    opacity: .8;
}